# Data Science Notebook

## Introduction
This notebook contains examples and exercises related to data science.

## Programming Languages in Data Science
1. Python
2. R
3. Julia
4. SQL
5. Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools

| Tool              | Description |
|-------------------|-------------|
| Jupyter Notebook | Interactive environment for Python code |
| RStudio          | IDE for R |
| Google Colab     | Cloud-based Jupyter Notebooks |
| Apache Spark     | Distributed data processing |
| Tableau          | Data visualization |

## Examples of Arithmetic Expressions
Here are some basic arithmetic operations in Python:

```
3 + 5  # Addition
7 - 2  # Subtraction
4 * 6  # Multiplication
8 / 2  # Division
```

In [1]:
a = 5
b = 3
addition = a + b
multiplication = a * b
print(f'Addition: {addition}, Multiplication: {multiplication}')

Addition: 8, Multiplication: 15

In [2]:
minutes = 120
hours = minutes / 60
print(f'{minutes} minutes is equivalent to {hours} hours')

120 minutes is equivalent to 2.0 hours

In [3]:
objectives = ['Learn Python', 'Understand Data Science libraries', 'Create visualizations', 'Develop Machine Learning models']
for obj in objectives:
    print(f'- {obj}')

- Learn Python
- Understand Data Science libraries
- Create visualizations
- Develop Machine Learning models

## Author

Vicente Isla Soto